name: "Build and push to GHCR"
on:
  workflow_run:
    workflows: [ "Release new version" ]
    types:
      - completed

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

# Most of this is taken from https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

jobs:
  BuildAndPushImageToECR:
    name: "Build and Push to GHCR"
    runs-on: ubuntu-latest

    if: ${{ github.actor != 'dependabot[bot]' }}

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract CURRENT version
        id: version_tag
        uses: "WyriHaximus/github-action-get-previous-tag@v2"
        with:
          prefix: v

      - name: Format version tag
        id: version
        run: |
          echo "VERSION=$(echo ${{ steps.version_tag.outputs.tag }} | cut -c2-)" >> $GITHUB_ENV

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{major}}.{{minor}}.{{patch}},value=${{ env.VERSION }},enable={{is_default_branch}}
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build, tag, and push image to GHCR
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
